.grid div {
	margin: 1em 0;
	display: none;
}
.grid a {
	padding: 4px 8px;
	margin: 0em 0.5em;
}
.grid .active {
	background-color: #eeeeff;
	border-radius: 6px;  
  -webkit-border-radius: 6px;  
  -moz-border-radius: 6px;  
  -o-border-radius: 6px;
}